<p><a href="#" class="js-toggle-dark-mode">&nbsp;<i class="fa-solid fa-moon">&nbsp;</i></a>
<!--<button class="btn js-toggle-dark-mode">Preview dark color scheme</button>-->

<script>
const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

jtd.addEvent(toggleDarkMode, 'click', function(){
  if (jtd.getTheme() === 'dark') {
    jtd.setTheme('light');
    toggleDarkMode.textContent = '<i class="fa-regular fa-moon">';
  } else {
    jtd.setTheme('dark');
    toggleDarkMode.textContent = '<i class="fa-regular fa-sun">';
  }
});


</script></p>
